.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Biomass_estimations/MadakapPy_estimations/Run_Day1_AreaEstimation/Pixel_RF_Day1_AreaEstimation.dbf
Data/Biomass_estimations/MadakapPy_estimations/Run_Day1_AreaEstimation/Pixel_RF_Day1_AreaEstimation.shp
Data/Biomass_estimations/MadakapPy_estimations/Run_Day1_AreaEstimation/Pixel_RF_Day1_AreaEstimation_map.html
Data/Biomass_estimations/MadakapPy_estimations/Run_Day2_AreaEstimation/Pixel_RF_Day2_AreaEstimation.dbf
Data/Biomass_estimations/MadakapPy_estimations/Run_Day2_AreaEstimation/Pixel_RF_Day2_AreaEstimation_map.html

/.quarto/
Data/S2/RAW/S2A_MSIL1C_20240613T070211_N0510_R120_T39KUB_20240613T090652.SAFE.zip
Data/S2/RAW/S2A_MSIL1C_20250918T070241_N0511_R120_T39KUB_20250918T091153.SAFE.zip
Data/S2/RAW/S2B_MSIL1C_20240628T070209_N0510_R120_T39KUB_20240628T083927.SAFE.zip
Data/S2/RAW/S2B_MSIL1C_20250723T070209_N0511_R120_T39KUB_20250723T101420.SAFE.zip
Data/S2/RAW/S2B_MSIL1C_20250802T070209_N0511_R120_T39KUB_20250802T085251.SAFE.zip
Data/S2/RAW/S2B_MSIL1C_20250901T070209_N0511_R120_T39KUB_20250901T101359.SAFE.zip
